name: 'Build & Release'

on:
  push:
    branches:
      - master
      - dev
    paths:
      - '.github/workflows/build.yaml'
      - '!.github/workflows/**'
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.2'
          channel: 'stable'
          cache: true
      - name: Install dependencies
        run: flutter pub get
      - name: Decode keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/keystore.jks
      - name: Create key.properties
        run: |
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=keystore.jks" >> android/key.properties
      - name: Cache Android SDK packages
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-android-sdk-packages
          path: |
            /Users/runner/Library/Android/sdk/ndk/
            /Users/runner/Library/Android/sdk/cmake/
            /Users/runner/Library/Android/sdk/platforms/
      - name: Create artifacts directory
        run: mkdir -p artifacts
      - name: Extract name from pubspec.yaml
        id: extract_name
        run: grep '^name:' pubspec.yaml | awk '{print "result="$2}' >> $GITHUB_OUTPUT
      - name: Build APK
        run: |
          flutter build apk --release
          cp build/app/outputs/flutter-apk/app-release.apk artifacts/${{ steps.extract_name.outputs.result }}.apk
      - name: Build split APKs
        run: |
          flutter build apk --release --split-per-abi
          cp build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk artifacts/${{ steps.extract_name.outputs.result }}-armeabi-v7a.apk
          cp build/app/outputs/flutter-apk/app-arm64-v8a-release.apk artifacts/${{ steps.extract_name.outputs.result }}-arm64-v8a.apk
          cp build/app/outputs/flutter-apk/app-x86_64-release.apk artifacts/${{ steps.extract_name.outputs.result }}-x86_64.apk
      - name: Build App Bundle
        run: |
          flutter build appbundle --release
          cp build/app/outputs/bundle/release/app-release.aab artifacts/${{ steps.extract_name.outputs.result }}.aab
      - name: Build iOS
        run: |
          flutter build ios --release --no-codesign
          cd build
          tar -czf ../artifacts/${{ steps.extract_name.outputs.result }}.ios_build.tar.gz ios
      - name: Build IPA
        run: |
          cd build/ios/iphoneos
          mkdir Payload
          cp -R Runner.app Payload/
          zip -r ../artifacts/${{ steps.extract_name.outputs.result }}.ipa Payload
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: release-artifacts
          path: "artifacts/*"
  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
      - build
    if: ${{ github.event_name == 'push' && github.ref_name == 'master' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Extract version from pubspec.yaml
        id: extract_version
        run: grep '^version:' pubspec.yaml | awk '{print "result="$2}' | cut -d '+' -f 1 >> $GITHUB_OUTPUT
      - name: Update git tag
        uses: actions/github-script@v7
        with:
          script: |
            async function updateTag(tag) {
              return await github.rest.git.updateRef({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: `tags/${tag}`,
                sha: context.sha
              }).catch(res => github.rest.git.createRef({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: `refs/tags/${tag}`,
                sha: context.sha
              }));
            }

            const version = '${{ steps.extract_version.outputs.result }}';
            const [major, minor, patch] = version.split('.').map(Number);
            const commit = context.sha.substring(0, 7);

            const reset = '\u001b[33;0m';
            const cyan = '\u001b[33;36m';
            core.info(`Version: ${cyan}${version}${reset}`);
            core.info(`Commit: ${cyan}${commit}${reset}`);
            core.info('-'.repeat(80));

            for (const tag of [
              `v${major}.${minor}.${patch}`,
              `v${major}.${minor}`,
              `v${major}`
            ]) {
              await updateTag(tag);
              core.info(`Updated version tag: ${cyan}${tag}${reset}`);
            }
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: release-artifacts
          path: artifacts/
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "artifacts/*"
          tag: v${{ steps.extract_version.outputs.result }}
